body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.active{
    border: 2px red solid;
    border-radius: 20px;
}

img{
    width: 700px;
}

button{
    padding: 10px 15px;
    color: white;
    background-color: brown;
    border: none;
    border-radius: 15px;
    transition: all .3s;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: brown;
    border: 1px solid brown;
}